/*CSS file for d3 trees*/
* {
	font-family: sans-serif;
}

/* Group styling*/
.cssClassNode {
	cursor: pointer;
}
.cssClassNode :hover
{
	font: 14px sans-serif;
	stroke-width: 3.5px;

}

/* Link styling*/
.cssClassLink {
	fill: none;
	stroke: steelblue;
	stroke-width: 1.5px;
	pointer-events: none;
}

/* Circle styling*/
.cssClassNode circle {
	stroke: white;
	fill: #07889b;
	stroke-width: 1.5px;
}
.leafNode circle {
	fill: #e37222;
}
.rootNode circle {
	fill: #66b9bf;
}
.cssClassNode.highlight  circle {
	stroke: black;
	fill: yellow;
	stroke-width: 1.5px;
}


/* Text styling*/
.cssClassNode text {
	fill: black;
	font: 10px sans-serif;
}
.cssClassNode.rootNode text{
	text-anchor: start;
    transform: translate(-5px, -12px);
}
.cssClassNode.intermediateNode text{
	text-anchor: middle;
    transform: translate(0px, -12px);
}
.cssClassNode.leafNode text{
	text-anchor: start;
    transform: translate(-15px, 0px);
}
.cssClassNode.highlight text {
	fill: black;
	font: 12px sans-serif;
}
.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--leaf {
  fill: white;
}

.label {
  font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}
